<form class={{cssClass}} autocomplete="off">
    <div class="form-group">
        <label>{{localize "DAGGERHEART.Settings.Menu.Homebrew.AbilityArrayLabel"}}</label>
        <div class="form-fields">
            <input type="text" name="{{settings.AbilityArray}}" value="{{this.abilityArray}}" />
        </div>
    </div>

    <footer class="flexrow">
        <button type="submit">Save</button>
        <button>Cancel</button>
    </footer>
</form>