
<div class="npc-roll-dialog-container">
    <div class="selection-container">
        <div class="dice-container">
            <div class="dice-inner-container">
                <img src="icons/svg/d20-grey.svg" />
                <div class="dice-number">{{this.nrDice}}</div>
            </div>
            <div class="flexcol" style="margin-right: 4px;">
                <i class="fa-solid fa-chevron-up icon-button increase"></i>
                <i class="fa-solid fa-chevron-down icon-button decrease"></i>
            </div>
            <div class="flexcol">
                <div class="icon-button {{#if this.advantage}}active{{/if}} advantage">Adv</div>
                <div class="icon-button {{#if (eq this.advantage false)}}active{{/if}} disadvantage">Dis</div>
            </div>
        </div>
        <div class="roll-dialog-experience-container">
            {{#each this.experiences as |experience key|}}
                <div class="roll-dialog-chip {{#if experience.selected}}selected{{/if}}" data-action="selectExperience" data-key="{{key}}">
                    <span>{{experience.name}}</span>
                    <i class="fa-solid fa-circle-check"></i>
                </div>
            {{/each}}
        </div>
    </div>
    <footer>
        <button class="roll-button">Roll</button>
    </footer>
</div>