<div class="daggerheart chat action">
    <details class="action-move">
        <summary class="action-section">
            <img class="action-img" src="{{action.img}}" />
            <div class="action-header">
                <h2 class="title">{{action.name}}</h2>
                <span class="label">{{itemOrigin.name}}</span>
            </div>
            <i class="fa-solid fa-chevron-down"></i>
        </summary>
        <div class="description">{{{description}}}</div>
    </details>
</div>