<form class="flexcol">
    {{#each this.items as |item index|}}
        <button class="item-button" data-index="{{index}}">{{localize item.name}} <i class="fa-solid fa-check item-icon"></i></button>
    {{/each}}
</form>