<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    {{> "systems/daggerheart/templates/sheets/global/partials/resource-section.hbs" }}
</section>