<section
    class='tab {{tabs.features.cssClass}} {{tabs.features.id}}'
    data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'
>
    <div class="features-sections">
        {{#each document.system.sheetLists}}
            {{#if this.values}}
                {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=this.title values=this.values}}
            {{/if}}
        {{/each}}
    </div>
</section>