@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzel/v23/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnTYo.ttf) format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzel/v23/8vIU7ww63mVu7gtR-kwKxNvkNOjw-jHgTYo.ttf) format('truetype');
}
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzeldecorative/v17/daaHSScvJGqLYhG8nNt8KPPswUAPniZoaelD.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
.application.sheet.daggerheart.dh-style h1 {
  font-family: 'Cinzel Decorative', serif;
  margin: 0;
  border: none;
  font-weight: normal;
}
.application.sheet.daggerheart.dh-style h2,
.application.sheet.daggerheart.dh-style h3 {
  font-family: 'Cinzel', serif;
  margin: 0;
  border: none;
  font-weight: normal;
}
.application.sheet.daggerheart.dh-style h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: none;
  font-weight: 700;
  margin: 0;
  text-shadow: none;
  color: #f3c267;
  font-weight: normal;
}
.application.sheet.daggerheart.dh-style h5 {
  font-size: 14px;
  color: #f3c267;
  margin: 0;
  font-weight: normal;
}
.application.sheet.daggerheart.dh-style p,
.application.sheet.daggerheart.dh-style span {
  font-family: 'Montserrat', sans-serif;
}
.application.sheet.daggerheart.dh-style small {
  font-family: 'Montserrat', sans-serif;
  opacity: 0.8;
}
.application.sheet.dh-style {
  border: 1px solid light-dark(#18162e, #f3c267);
}
.application.sheet.dh-style input[type='text'],
.application.sheet.dh-style input[type='number'] {
  background: light-dark(transparent, transparent);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  outline: none;
  color: light-dark(#18162e, #f3c267);
  border: 1px solid light-dark(#222, #efe6d8);
}
.application.sheet.dh-style input[type='text']:hover[type='text'],
.application.sheet.dh-style input[type='number']:hover[type='text'],
.application.sheet.dh-style input[type='text']:hover[type='number'],
.application.sheet.dh-style input[type='number']:hover[type='number'],
.application.sheet.dh-style input[type='text']:focus[type='text'],
.application.sheet.dh-style input[type='number']:focus[type='text'],
.application.sheet.dh-style input[type='text']:focus[type='number'],
.application.sheet.dh-style input[type='number']:focus[type='number'] {
  background: light-dark(rgba(0, 0, 0, 0.05), rgba(24, 22, 46, 0.33));
  box-shadow: none;
  outline: 2px solid light-dark(#222, #efe6d8);
}
.application.sheet.dh-style input[type='checkbox']:checked::after {
  color: light-dark(#222, #f3c267);
}
.application.sheet.dh-style input[type='checkbox']:checked::before {
  color: light-dark(transparent, #18162e);
}
.application.sheet.dh-style input[type='checkbox']::before {
  color: light-dark(#222, #efe6d8);
}
.application.sheet.dh-style button {
  background: light-dark(transparent, #f3c267);
  border: 1px solid light-dark(#18162e, #18162e);
  color: light-dark(#18162e, #18162e);
  outline: none;
  box-shadow: none;
}
.application.sheet.dh-style button:hover {
  background: light-dark(rgba(0, 0, 0, 0.3), #18162e);
  color: light-dark(#18162e, #f3c267);
}
.application.sheet.dh-style select {
  background: light-dark(transparent, transparent);
  color: light-dark(#222, #efe6d8);
  font-family: 'Montserrat', sans-serif;
  outline: 2px solid transparent;
  border: 1px solid light-dark(#222, #efe6d8);
}
.application.sheet.dh-style select:focus,
.application.sheet.dh-style select:hover {
  outline: 2px solid light-dark(#222, #efe6d8);
  box-shadow: none;
}
.application.sheet.dh-style select option {
  color: #efe6d8;
  background-color: #18162e;
  border-radius: 6px;
}
.application.sheet.dh-style p {
  margin: 0;
}
.application.sheet.dh-style ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.application.sheet.dh-style li {
  margin: 0;
}
.application.sheet.dh-style fieldset {
  align-items: center;
  margin-top: 5px;
  border-radius: 6px;
  border-color: light-dark(#18162e, #f3c267);
}
.application.sheet.dh-style fieldset.one-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  min-height: 64px;
  width: 100%;
}
.application.sheet.dh-style fieldset.two-columns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.application.sheet.dh-style fieldset legend {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: light-dark(#18162e, #f3c267);
}
.application.sheet.dh-style fieldset legend a {
  text-shadow: none;
}
.application.sheet.dh-style fieldset input[type='text'],
.application.sheet.dh-style fieldset input[type='number'] {
  color: light-dark(#222, #efe6d8);
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease;
  outline: 2px solid transparent;
}
.application.sheet.dh-style fieldset input[type='text']:focus,
.application.sheet.dh-style fieldset input[type='number']:focus,
.application.sheet.dh-style fieldset input[type='text']:hover,
.application.sheet.dh-style fieldset input[type='number']:hover {
  outline: 2px solid light-dark(#222, #efe6d8);
}
.application.sheet.dh-style fieldset .nest-inputs {
  display: flex;
  align-items: center;
  gap: 5px;
}
.application.sheet.dh-style fieldset .form-group label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: smaller;
}
.application.sheet.dh-style line-div {
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid light-dark(#18162e, #f3c267);
  mask-image: linear-gradient(270deg, transparent 0%, black 50%, transparent 100%);
}
.application.sheet.dh-style .item-description {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.application.sheet.dh-style .item-description.invisible {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-20px);
  transform-origin: top;
}
.application.setting.dh-style fieldset h2,
.application.setting.dh-style fieldset h3,
.application.setting.dh-style fieldset h4 {
  margin: 8px 0 4px;
  text-align: center;
}
.application.setting.dh-style fieldset .title-hint {
  font-size: 12px;
  font-variant: small-caps;
  text-align: center;
}
.application.setting.dh-style fieldset .field-section .split-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.application.setting.dh-style fieldset .label-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.application.setting.dh-style fieldset .label-container label {
  align-self: center;
  text-align: center;
}
.application.setting.dh-style footer {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.application.setting.dh-style footer button {
  flex: 1;
}
