@import '../utils/colors.less';
@import '../utils/fonts.less';

.theme-light .application.daggerheart.dh-style {
    .inventory-item,
    .card-item {
        .item-resource .item-dice-resource {
            img {
                filter: brightness(0) saturate(100%);
            }
        }
    }
}

.application.daggerheart.dh-style {
    .inventory-item {
        display: grid;
        grid-template-columns: 40px 1fr 60px;
        gap: 10px;
        width: 100%;

        .item-img {
            height: 40px;
            width: 40px;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            object-fit: cover;

            &.actor-img {
                border-radius: 50%;
            }
        }

        .item-label-wrapper {
            display: grid;
            grid-template-columns: 1fr 60px;
        }

        .item-label {
            font-family: @font-body;
            align-self: center;

            &.fullWidth {
                grid-column: span 2;
            }

            .item-name {
                font-size: 14px;
            }

            .item-tags,
            .item-labels {
                display: flex;
                gap: 10px;

                .tag {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 3px 5px;
                    font-size: 12px;

                    background: light-dark(@dark-15, @beige-15);
                    border: 1px solid light-dark(@dark, @beige);
                    border-radius: 3px;
                }

                .label {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    gap: 4px;
                }
            }
        }

        .controls {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 8px;

            a {
                text-align: center;

                &.unequipped {
                    opacity: 0.4;
                }
            }
        }
    }
    .card-item {
        position: relative;
        height: 120px;
        width: 100px;
        border: 1px solid light-dark(@dark-blue, @golden);
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            .card-label {
                padding-top: 15px;
                .menu {
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.3s ease;
                    max-height: 16px;

                    &.resource-menu {
                        max-height: 55px;

                        &.dice-menu {
                            max-height: 118px;

                            .item-resources {
                                flex-wrap: wrap;
                            }

                            .item-resource {
                                width: unset;
                            }
                        }
                    }
                }
            }
        }

        .card-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 6px;
        }

        .card-label {
            display: flex;
            flex-direction: column;
            height: fit-content;
            align-items: center;
            gap: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 100%;
            position: absolute;
            background-color: @dark-blue;
            bottom: 0;
            mask-image: linear-gradient(180deg, transparent 0%, black 20%);

            .card-name {
                font-family: @font-body;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;

                color: @beige;
            }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 8px;
                max-height: 0px;
                opacity: 0;
                visibility: collapse;
                transition: all 0.3s ease;
                color: @beige;

                .controls {
                    display: flex;
                    gap: 2px;
                    gap: 15px;
                    justify-content: center;
                }
            }
        }

        .item-resources {
            width: 92px;
        }

        .item-resource {
            width: 92px;
        }
    }

    .inventory-item,
    .card-item {
        .item-resources {
            display: flex;
            gap: 4px;

            .resource-edit {
                font-size: 14px;
            }
        }

        .item-resource {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 4px;

            i {
                flex: none;
                font-size: 14px;
            }

            input {
                flex: 1;
            }

            .item-dice-resource {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;

                label {
                    position: absolute;
                    color: light-dark(white, black);
                    filter: drop-shadow(0 0 1px light-dark(@dark-blue, @golden));
                    z-index: 2;
                    font-size: 18px;
                    cursor: pointer;
                }

                img {
                    filter: brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(580%) hue-rotate(332deg)
                        brightness(96%) contrast(95%);
                }

                i {
                    position: absolute;
                    text-shadow: 0 0 3px white;
                    filter: drop-shadow(0 1px white);
                    color: black;
                    font-size: 26px;
                }
            }
        }
    }
}
