@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v23/8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnTYo.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzel/v23/8vIU7ww63mVu7gtR-kwKxNvkNOjw-jHgTYo.ttf) format('truetype');
}
@font-face {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cinzeldecorative/v17/daaHSScvJGqLYhG8nNt8KPPswUAPniZoaelD.ttf)
        format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v30/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
.application.sheet.daggerheart.dh-style h1 {
    font-family: 'Cinzel Decorative', serif;
    margin: 0;
    border: none;
    font-weight: normal;
}
.application.sheet.daggerheart.dh-style h2,
.application.sheet.daggerheart.dh-style h3 {
    font-family: 'Cinzel', serif;
    margin: 0;
    border: none;
    font-weight: normal;
}
.application.sheet.daggerheart.dh-style h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    font-weight: 700;
    margin: 0;
    text-shadow: none;
    color: #f3c267;
    font-weight: normal;
}
.application.sheet.daggerheart.dh-style h5 {
    font-size: 14px;
    color: #f3c267;
    margin: 0;
    font-weight: normal;
}
.application.sheet.daggerheart.dh-style p,
.application.sheet.daggerheart.dh-style span {
    font-family: 'Montserrat', sans-serif;
}
.application.sheet.daggerheart.dh-style small {
    font-family: 'Montserrat', sans-serif;
    opacity: 0.8;
}
.application.sheet.daggerheart.dh-style.class .tagify {
    background: light-dark(transparent, transparent);
    border: 1px solid light-dark(#222, #efe6d8);
    height: 34px;
    border-radius: 3px;
    margin-right: 1px;
}
.application.sheet.daggerheart.dh-style.class .tagify tag div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}
.application.sheet.daggerheart.dh-style.class .tagify tag div span {
    font-weight: 400;
}
.application.sheet.daggerheart.dh-style.class .tagify tag div img {
    margin-left: 8px;
    height: 20px;
    width: 20px;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .fieldsets-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1.5fr 1.5fr;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items {
    margin-bottom: 10px;
    width: 100%;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items:last-child {
    margin-bottom: 0px;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items .item-line {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 3fr 1fr;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items .item-line h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: light-dark(#222, #efe6d8);
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items .item-line .image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
    border: none;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items .item-line .controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.application.sheet.daggerheart.dh-style.class .tab.settings .list-items .item-line .controls a {
    text-shadow: none;
}
