@import '../utils/colors.less';
@import '../utils/fonts.less';

.application.sheet.daggerheart.dh-style.feature {
    .item-sheet-header {
        display: flex;

        .profile {
            height: 130px;
            width: 130px;
        }
    }

    section.tab {
        height: 400px;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: light-dark(@dark-blue, @golden) transparent;
    }
}
