<section class='tab-form-footer spaced'>
    <button data-action="close">{{localize "Cancel"}}</button>
    <button data-action="saveForm"><i class="fa-solid fa-floppy-disk"></i> {{localize "Save"}}</button>
</section>