<header class='settings-item-header'>
    <img class='profile' src='{{move.img}}' data-action='editImage' data-edit='img' />
    <div class='item-info'>
        <h1 class='item-name'><input type='text' name='name' value='{{move.name}}' /></h1>
    </div>
</header>