<li class='feature-item' data-item-uuid='{{feature.uuid}}'>
    <div class='feature-line'>
        <img class='image' src='{{feature.img}}' />
        <h4>
            {{feature.name}}
        </h4>
        {{#unless hideContrals}}
        <div class='controls'>
            <a class='effect-control' data-action='editDoc' data-tooltip="DAGGERHEART.UI.Tooltip.openItemWorld">
                <i class="fa-solid fa-globe"></i>
            </a>
            <a class='effect-control' data-action='deleteFeature' data-tooltip="CONTROLS.CommonDelete">
                <i class='fas fa-trash'></i>
            </a>
        </div>
        {{/unless}}
    </div>
</li>