<fieldset class="action-category">
    <legend class="action-category-label">
        <div>{{localize "DAGGERHEART.Actions.Config.Beastform.label"}}</div>
    </legend>

    <div class="action-category-data open">
        <div class="hint-group">
            <div class="form-fields">
                <label>{{localize "DAGGERHEART.Actions.Config.Beastform.exact"}}</label>
                <select name="beastform.tierAccess.exact" data-dtype="Number">
                    {{selectOptions tierOptions selected=@root.source.beastform.tierAccess.exact  labelAttr="label" valueAttr="key" blank="" }}
                </select>
            </div>
            <p class="hint">{{localize "DAGGERHEART.Actions.Config.Beastform.exactHint"}}</p>
        </div>
    </div>
</fieldset>