<fieldset class="action-category">
    <legend class="action-category-label" data-action="toggleSection" data-section="roll">
        <div>Roll</div>
    </legend>
    <div class="action-category-data open">
        {{formField fields.type label="Type" name="roll.type" value=source.type localize=true}}
        {{formField fields.trait label="Trait" name="roll.trait" value=source.trait localize=true}}
        {{formField fields.difficulty label="Difficulty" name="roll.difficulty" value=source.difficulty}}
    </div>
</fieldset>