/* General */
@advantage: #008000;
@disadvantage: #b30000;
@miss: rgb(255, 0, 0);
@hit: rgb(0, 128, 0);
@positive: #699969;
@negative: #ff7f7f;

@borderPrimary: #b5b3a4;
@borderTertiary: #7a7971;

/* Drop Shadows */
@mainShadow: red;
@secondaryShadow: gold;

/* Background */
@secondaryBackground: #7a7971;
@primaryAccent: #778899;
@secondaryAccent: #708090;
@formBackground: #782e22;
@hoverBackground: #2f4f4f40;

/* Duality */
@hope: #ffe760;
@hopeBackgroundStart: rgba(0, 0, 0, 0.6);
@hopeBackgroundEnd: rgba(165, 42, 42, 0.6);
@fear: #0032b1;
@fearAccent: #2555cd;
@fearBackgroundStart: rgba(15, 15, 97, 0.6);
@fearBackgroundEnd: rgba(0, 0, 255, 0.6);
@critical: #430070;
@criticalAccent: #66159c;
@criticalBackgroundStart: rgba(37, 8, 37, 0.6);
@criticalBackgroundEnd: rgba(128, 0, 128, 0.6);

/* Fear */
@primary-color-fear: rgba(9, 71, 179, 0.75);
