<form id="action-type-select">
    <header class="dialog-header">
        <h1>{{itemName}}</h1>
    </header>
    <ul class="actions-list">
    {{#each types}}
        <li class="action-item">
            <input type="radio" name="type" value="{{id}}" {{#if (eq @index 0)}}checked{{/if}}>
            <span class="label">{{localize name}}</span>
        </li>
    {{/each}}
    </ul>
</form>