
<fieldset class="action-category">
    <legend class="action-category-label" data-action="toggleSection" data-section="effects">
        <div>{{localize "DAGGERHEART.GENERAL.resource"}}</div>
    </legend>
    <div class="action-category-data open">
        <fieldset>
            <div class="multi-display">
                {{formField fields.type value=source.type name="resource.type" localize=true}}
                {{formField fields.value value=source.value name="resource.value"}}
            </div>
        </fieldset>
    </div>
</fieldset>