<fieldset class="action-category">
    <legend class="action-category-label" data-action="toggleSection" data-section="target">
        <div>Target</div>
    </legend>
    <div class="action-category-data open">
        {{formField targetField.type label="Target" name="target" rootId=partId localize=true}}
    </div>
</fieldset>