<fieldset class="one-column">
    <legend>{{localize "DAGGERHEART.GENERAL.uses"}}</legend>
    <div class="nest-inputs">
        {{formField fields.value label="Spent" value=source.value name="uses.value" rootId=partId}}
        {{formField fields.max label="Max" value=source.max name="uses.max" rootId=partId}}
    </div>
    {{formField fields.recovery label="Recovery" value=source.recovery name="uses.recovery" rootId=partId localize=true}}
</fieldset>