
<fieldset class="action-category">
    <legend class="action-category-label" data-action="toggleSection" data-section="effects">
        <div>{{localize "DOCUMENT.Macro"}}</div>
    </legend>
    <div class="action-category-data open">
        {{formInput fields value=source name="documentUUID" placeholder=fields.options.placeholder}}
    </div>
</fieldset>