<form id="item-action-select">
    <header class="dialog-header">
        <h1>{{itemName}}</h1>
    </header>
    <ul class="actions-list">
    {{#each actions}}
        <li class="action-item">
            <input type="radio" name="actionId" value="{{_id}}" {{#if (eq @index 0)}}checked{{/if}}>
            <span class="label">{{ name }}</span>
        </li>
    {{/each}}
    </ul>
</form>