<div class="daggerheart dh-style tooltip">
    <div class="tooltip-title-container">
        <img class="tooltip-image" src="{{move.img}}" />
        <h2 class="tooltip-title">{{localize move.name}}</h2>
    </div>
    <div class="tooltip-description">{{{localize move.description}}}</div>
</div>