<section class='tab-footer'>
    {{#unless levelupAuto}}
        <div class="levelup-footer">
            <button type="button" data-action="close">{{localize "Cancel"}}</button>
            <button type="button" data-action="save">{{localize "Save"}}</button>
        </div>
    {{/unless}}
</section>