<section class='tab {{tabs.features.cssClass}} {{tabs.features.id}}' data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'>
    <div class="feature-section">
        {{> 'daggerheart.inventory-items'
            title=tabs.features.label
            type='feature'
            collection=document.system.features
            hideContextMenu=true
            canCreate=true
            showActions=true
        }}
    </div>
</section>