<section
    class='tab {{tabs.effects.cssClass}} {{tabs.effects.id}}'
    data-tab='{{tabs.effects.id}}'
    data-group='{{tabs.effects.group}}'
>
    {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=(localize 'DAGGERHEART.GENERAL.activeEffects') type='effect'}}
    {{> 'systems/daggerheart/templates/sheets/global/partials/inventory-fieldset-items.hbs' title=(localize 'DAGGERHEART.GENERAL.inactiveEffects') type='effect'}}
</section>