<div class="slider-container">
    <div data-action="toggleSlider" class="slider-inner-container">
        <i class="fa-solid fa-wrench slider-icon {{#if this.editMode}}editMode{{/if}}"></i>
    </div>
</div>