.daggerheart.sheet.class .guide .drop-section {
    width: 100%;
}
.daggerheart.sheet.class .guide .drop-section legend {
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}
.daggerheart.sheet.class .guide .drop-section .drop-section-body {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.daggerheart.sheet.class .guide .trait-input {
    text-align: center;
    min-width: 24px;
}
.daggerheart.sheet.class .guide .suggested-item {
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.daggerheart.sheet.class .guide .suggested-item img {
    width: 30px;
}
.daggerheart.sheet.class .guide .suggested-item div {
    text-align: center;
}
.daggerheart.sheet.class .guide .suggested-item i {
    border-radius: 50%;
    margin-right: 4px;
    font-size: 11px;
}
.daggerheart.sheet.class .guide .extra-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.daggerheart.sheet.class .guide .extra-section .extra-title {
    font-size: 14px;
    font-weight: bold;
}
.daggerheart.sheet.class .guide-section-title-centered {
    font-weight: bold;
    font-size: 18px;
}
.daggerheart.sheet.class .inventory-section {
    width: 100%;
    border: 2px solid black;
    border-style: dotted;
    min-height: 80px;
}
.daggerheart.sheet.class .inventory-section .inventory-title {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.daggerheart.sheet.class .domain-section {
    display: flex;
    align-items: center;
    gap: 5px;
}
