<header class="dialog-header">
    <h1>
        {{ifThen rollConfig.headerTitle rollConfig.headerTitle rollConfig.title}}
        {{#if showReaction}}
            <button class="reaction-roll-controller {{#if reactionOverride}}active{{/if}}" data-action="toggleReaction" data-tooltip-text="{{localize "DAGGERHEART.GENERAL.reactionRoll"}}">
                <i class="fa-solid fa-reply"></i>
            </button>
        {{/if}}
    </h1>
</header>