<section class="creation-action-footer">
    <button data-action="close">{{localize "Cancel"}}</button>
    <button {{#if tabs.setup.finished}}data-action="finish"{{else}}disabled{{/if}}>{{localize "DAGGERHEART.CharacterCreation.FinishCreation"}}</button>
</section>