 <footer class="form-footer">
    <button type="button" data-action="reset">
        <i class="fa-solid fa-arrow-rotate-left"></i>
        <span>{{localize "Reset"}}</span>
    </button>
    <button type="button" data-action="save" >
        <i class="fa-solid fa-floppy-disk"></i>
        <span>{{localize "Save Changes"}}</span>
    </button>
</footer>